@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  font-family: "Roboto", sans-serif;
}
body {
  margin: 0;
}

.logo-text {
  font-size: 24px;
  font-weight: 600;
  color: #f9faf8;
}
.logo-link {
  font-size: 18px;
  color: #e5e7eb;
  justify-self: space-around;
}

.link-container {
  display: flex;
  gap: 18px;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #1f2937;
}
.container-two {
  background-color: #1f2937;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 500px;
}
.title-container {
  width: 40%;
  margin-left: 20px;
  margin-right: 0px;
}
.image-container {
  margin-left: 20px;
  margin-right: 20px;
}
.title {
  font-weight: bolder;
  margin: 10px;
  width: 50%;
  text-align: left;
  font-size: 48px;
  font-weight: bold;
  color: #f9faf8;
}

.subtitle {
  margin: 10px;
  text-align: left;
  font-size: 18px;
  color: #e5e7eb;
  width: 75%;
}
.image-element {
  background-color: #88898b;
  padding: 120px 150px;
  font-size: 18px;
  color: #e5e7eb;
}
.signup-button {
  margin: 10px;
  padding: 8px 20px;
  background-color: #3882f6;
  color: #f9faf8;
  font-size: 18px;
  border-radius: 10px;
}
.main-title {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  color: #1f2937;
}
.main-container {
  margin-top: 40px;
  margin-bottom: 40px;
}
.main-image-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.image-box {
  border: 4px solid #3882f6;
  width: 100px;
  height: 100px;
  padding: 50px;
  border-radius: 15px;
}
.subtext-image {
  font-size: 18px;
  margin-top: 5px;
  text-align: center;
  width: 150px;
  height: 100px;
}
.image-subtext-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quote-section-container {
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.quote-container {
  width: 65%;
  padding: 100px;
}
.quote {
  font-size: 36px;
  font-style: italic;
  font-weight: 50;
  color: #1f2937;
}
.quoter-name {
  text-align: right;
  font-weight: bolder;
  font-size: 24px;
}
.sign-up-container {
  padding: 100px;
  display: flex;
  justify-content: center;
}
.sign-up-element {
  display: flex;
  background-color: #3882f6;
  padding: 60px 100px;
  border-radius: 15px;
  gap: 100px;
}
.message-container {
  display: flex;
  flex-direction: column;
}
.message-title {
  margin: 0;
  display: inline;
  color: #f9faf8;
  font-weight: bold;
  font-size: 24px;
}
.sign-message {
  margin: 0;
  display: inline;
  color: #e5e7eb;
  font-size: 18px;
}
.signup-button2 {
  margin: 10px;
  padding: 8px 20px;
  background-color: #3882f6;
  color: #f9faf8;
  font-size: 18px;
  border-radius: 10px;
  border: 2px solid #f9faf8;
}
